/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "~primeicons/primeicons.css";

.message img {
  max-width: 200px;
}
.increase-popover-width {
  max-width: 1000px;
}

.eval-result-modal .modal-dialog {
  max-width: min(1400px, 96vw);
}
